%bebasneuebold{
    font-family: 'BebasNeueBold', /*sans-serif*/;
    font-weight: 700;
}

%opensans-bold{
    font-family: 'OpenSans-Bold', /*sans-serif*/;
    font-weight: 700;
}

%opensans-regular{
    font-family: 'OpenSans-Regular', /*sans-serif*/;
    font-weight: 400;
}